*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --warriors-yellow:yellow;
    
}

.art-container {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -99;
    height: 30rem;
    width: 30rem;
    background-color: blue;
}

.circle{
    position: relative;
    display: flex ;
    /* justify-content: center;
    align-content: center; */
    border: solid 8px var(--warriors-yellow) ;
    border-radius: 200px;
    width: 300px;
    height: 300px;
}

.beam{
    position: absolute;
    display: block;
    background-color: var(--warriors-yellow);
    clip-path: polygon(25% 3%, 30% 0, 33% 100%, 23% 99%);
    top: 11rem;
    left: 8rem;
    height: 12.4rem;
    width: 12rem;
    
   
}
.beam-2{
    
    position: absolute;
    display: inherit;
    background-color: var(--warriors-yellow);
    clip-path: polygon(25% 3%, 30% 0, 33% 100%, 23% 99%);
    height: 13rem;
    width: 12rem;
    top: 11rem;
    left: 10rem;

}

/*//////////////////           2            //////////////////////////////////////////////////////////////////////// */

.art-container-2{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -99;
    height: 30rem;
    width: 30rem;
    background-color: rgb(172, 115, 167);
}

.egg{
    height: 300px;
    width: 230px;
    background-color: #fff;;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    box-shadow: 25px rgba(0,0,0,0.1);

}

.egg:before{
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: black;
    border-radius: 50%;
    top: 180px;
    right: 88px;
    box-shadow: 
    -40px 0 0 black,
    10px 15px 0 -2px orange,
    -50px 15px 0 -2px orange,
    -20px 0 0 70px #f5d201
    
}

.egg:after{
    content:"";
    position: absolute;
    height: 15px;
    width: 25px;
    background-color: black;
    top: 200px;
    left: 102px;
    border-radius: 5px 5px 15px 15px;
    border: 3px solid #010008;
    background: radial-gradient(
        at 50% 100%,
        orange 8px, 
        #010008 8px
    );

}